body {
    background-color: burlywood;
}

Header#primary-header {
    padding: 30px;
    margin-bottom: 3px;
    margin: 2px;
    background-color:ivory;
    text-align: center;
    border-radius: 5px;
}

.h1head {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

Nav {
    background-color: antiquewhite;
    padding: 20px;
    margin: 2px;
    display: flex;
    justify-content: center;
    gap: 150px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.div1 {
    display: flex;
}

.p1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 300;
}

.p2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 300;
}

.p3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 300;
}

Aside {
    background-color:rgb(160, 149, 102); 
    padding:20px; 
    width: 30%; 
    flex: 2;
    border-radius: 20px;
}

Section {
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 20px;
    background-color: bisque;
    width: 80%;
    flex: 4;
    border-radius: 20px;
}

Aside {
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 20px;
    background-color: bisque;
    width: 20%;
    flex: 2;
}

footer {
    text-align: center;
    padding: 20px;
    margin-left: 5px;
    background-color: blanchedalmond;
    border-radius: 5px;
}

Header#secondary-header {
    padding: 30px;
    margin-bottom: 3px;
    background-color:ivory;
    border-radius: 40px;
    text-align: center;
    border-radius: 5px;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50px;
}

Nav#secondary-nav {
    background-color: antiquewhite;
    padding: 20px;
    margin: 2px;
    display: flex;
    justify-content: center;
    gap: 150px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.div2{
    display: flex;
}

Section#secondary-section {
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 20px;
    background-color: bisque;
    width: 80%;
    flex: 4;
    border-radius: 20px;
}

Aside#secondary-aside {
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 20px;
    background-color: bisque;
    width: 20%;
    flex: 2;
}

.psec {
    color: brown;
    font-weight: bold;
    font-size: large;
}

.spsec {
    color: black;
    font-weight: bolder;
    font-size: large;
}
.psec1 {
    color: brown;
    font-weight: bold;
    font-size: large;
}

.spsec1 {
    color: black;
    font-weight: bolder;
    font-size: large;
}

.psec2 {
    color: brown;
    font-weight: bold;
    font-size: large;
}

.spsec2 {
    color: black;
    font-weight: bolder;
    font-size: large;
}

Footer#secondary-footer {
    text-align: center;
    padding: 20px;
    margin-left: 5px;
    background-color: blanchedalmond;
    border-radius: 5px;
}

Header#tertiary-header {
    padding: 30px;
    margin-bottom: 3px;
    background-color:ivory;
    border-radius: 40px;
    text-align: center;
    border-radius: 5px;
}

Nav#tertiary-nav {
    background-color: antiquewhite;
    padding: 20px;
    margin: 2px;
    display: flex;
    justify-content: center;
    gap: 150px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.div3{
    display: flex;
}

Section#tertiary-section {
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 20px;
    background-color: bisque;
    width: 80%;
    flex: 4;
    border-radius: 20px;
}

Aside#tertiary-aside {
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 20px;
    background-color: bisque;
    width: 20%;
    flex: 2;
}


Footer#tertiary-footer {
    text-align: center;
    padding: 20px;
    margin-left: 5px;
    background-color: blanchedalmond;
    border-radius: 5px;
}

.form1 {
    text-align: justify;
}

Header#quaternary-header {
    padding: 30px;
    margin-bottom: 3px;
    background-color:ivory;
    border-radius: 40px;
    text-align: center;
    border-radius: 5px;
}

Nav#quaternary-nav {
    background-color: antiquewhite;
    padding: 20px;
    margin: 2px;
    display: flex;
    justify-content: center;
    gap: 150px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.div4{
    display: flex;
}

Section#quaternary-section {
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 20px;
    background-color: bisque;
    width: 80%;
    flex: 4;
    border-radius: 20px;
}

Aside#quaternary-aside {
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 20px;
    background-color: bisque;
    width: 20%;
    flex: 2;
}


Footer#quaternary-footer {
    text-align: center;
    padding: 20px;
    margin-left: 5px;
    background-color: blanchedalmond;
    border-radius: 5px;
}

.trtable {
    align-items: center;
}


footer a {
    text-decoration: none;
    color: black;
}