* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #111;
    color: #fff;
    line-height: 1.6;
    box-shadow: 4px 4px 10px;
    flex-wrap: wrap;
}

nav a {
    text-decoration:none;
    color: white;
    margin-left: 25px;
    transition: .3s;
    border: solid white;
    border-radius: 15px;
    padding: 5px;
}

.spiderfont {
    font-family: "Bangers", cursive;
    font-size: 3rem;
    color: white;
    -webkit-text-stroke: 2px #000;
    text-shadow:
        3px 3px 0 #1a1a1a,
        6px 6px 12px rgba(0,0,0,.5);
}

nav a:hover {
    background-color: grey;
    color: #c40000;
}


header {
   background: #c40000;
   padding: 20px 8%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: sticky;
   top: 0;
}

.content {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-size: 35px;
    margin-top: 30px;
    background-image: url('back2.jpg');
    background-size: cover;
    background-position: center;
}
    

.content button:hover {
    background: #ff3131;
}

.content button {
    margin-top: 30px;
    padding: 15px 35px;
    border: none;
    background: #e50914;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.content p {
    font-size: 20px;
    max-width: 700px;
    margin: auto;
}

.content h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.content {
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient();
    padding-top: 500px;
    padding-bottom: 600px;
}

aside {
    background: #e50914;
}

.movies {
    padding: 70px 8%;
}

.movies h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    color: white;
} 

.grid0 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin-bottom: 50px;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin-bottom: 50px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin-bottom: 50px;
}

.card {
    background:#1b1b1b;
    border-radius: 15px;
    overflow: hidden;
    transition: .3s;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 200px;
}

.movies .card img {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

footer {
    background: #c40000;
    text-align: center;
    padding: 20px;
}

.about {
    padding: 0%;
    background: #1b1b1b;
    text-align: center;
    font-size: 35px;
    padding-bottom: 200px;
    padding-top: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

.about h2 {
    margin-bottom: 20px;
}

#credits h2 {
    text-align: center;
}

#credits {
    background: white;
    color: black;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 35px;
    text-align: center;
}

.about strong {
    color: #e50914;
}

.goback {
    text-decoration: none;
    color: white;
    margin: 0%;
}



